.footerSection {
  background-image: url("./footerimg.webp");
  background-repeat: no-repeat;
  position: relative;
  height: 100%;
  padding-bottom: 0;
  overflow: hidden;
  &::after {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    filter: blur(200px);
    // background: red;
  }
  .innerFooter {
    padding: 2.5rem;
    position: relative;
    background-color: rgb(0 0 0 / 0.6);
    backdrop-filter: blur(40px);
    overflow: hidden;
    z-index: 5;
    margin-bottom: -25px;
    &::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      filter: blur(22px);
    }
    .largeText {
      line-height: 10rem;
      margin-top: 1rem;
      letter-spacing: -10px;
      margin-bottom: -5rem;
      margin-right: -0rem;
      font-family: "inter";
    }

    .underlinst {
      li {
        font-size: 0.875rem;
        line-height: 1.375rem;
        letter-spacing: 0;
        color: white;
      }
    }

    //
    .socialIcons {
      flex-wrap: wrap;
      gap: 10px;
      justify-content: start;
    }

    .socialIcons .icons {
      width: 2rem;
      height: 2rem;
      flex-shrink: 0;
      font-size: 18px;
      border-radius: 0.25rem;
      border: 0.3px solid #fff;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;

      &:hover {
        border: 0.3px solid #fff;
        background: white;
        color: black;
      }
    }
  }
}
