@import "tailwindcss";
@font-face {
  font-family: "Bossa";
  src: url("/fonts/Bossa-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Bossa";
  src: url("/fonts/Bossa-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}


/* Smooth fonts */
body {
  -webkit-font-smoothing: antialiased;
  
  font-weight: 400;
  
  font-family: "Inter", sans-serif; 
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Bossa', sans-serif;
  font-weight: 700;  
}
/* span{
  font-family: 'Bossa';

} */


/* Full height */
html, body {
  /* height: 100%;
  width: 100%; */
   /* background: linear-gradient(
    to bottom,
    #ffffff 0%,
    #f0f7ff 35%,
    #e9f0ff 70%,
    #f7ecff 100%
  ); */
   background: linear-gradient(
    to bottom,
    #ffffff 0%,
    #1a73e838 35%,
    #e9f0ff 70%,
    #1A73E8 100%
  );
  
}

/* Remove default link styles */
a {
  text-decoration: none;
  /* color: inherit; */
}

/* Remove list bullets */
ul, ol, li {
  list-style: none;
}


.gradientText {
  background: linear-gradient(90deg, #ff5f6d, #ffc371);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

/*  */
/* :root {
  --background: #ffffff;
  --foreground: #171717;
} */

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

/* body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */

/* my style */
/* Reset */
/* * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
} */
